.form {
    display: flex;

    .column-title {
        padding: 0.5rem 0.5rem 0 0.5rem;
        margin: 1rem;
        border: none;
        color: var(--color-blue);
        border-bottom: 1px solid var(--color-blue);
        overflow: auto;
        width: 60%;
    }

    .input {
        padding: 0.5rem 0.5rem 0 0.5rem;
        margin: 1rem;
        border: none;
        color: var(--color-blue);
        width: 50%;
        overflow: auto;
    }

    .icons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;

        .icon-button-disabled {
            background-color: rgb(85, 84, 84);
        }

        .trash {
            background-color: rgb(255, 75, 75);
        }

        .edit {
            background-color: var(--color-blue);
        }

        .stop {
            background-color: gray;
        }

        .check {
            background-color: rgb(102, 219, 86);
        }

        .icon-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.2rem;
            cursor: pointer;
            border: none;
            
            &:hover .icon {
                transform: scale(1.3);
            }

            &:first-child {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            &:last-child {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }

            .icon {
                font-size: 1rem;
                margin: 0.2rem;
                color: white;

            }

        }
    }

}