.form {
    margin: 25px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

    input::placeholder {
        color: black;

        opacity: 0.5;
    }

    .input-box {
        margin: 0.5rem 0;

        .input-control {
            margin-bottom: 1rem;
            display: block;
            height: 2rem;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgb(172, 164, 164);
            color: inherit;
            font-weight: inherit;
            font-family: inherit;
            font-size: 16px;

            &:focus {
                outline: none;
            }
        }
    }

    .btn {
        height: 45px;
        width: 100%;
        font-size: 16px;
        text-transform: capitalize;
        font-family: inherit;
        border-radius: 25px;
        user-select: none;
        background: linear-gradient(to right, #273558, gray);
        cursor: pointer;
        border: none;
        color: white;
        position: relative;
        overflow: hidden;
        z-index: 1;
        font-weight: bold;

        &:hover {
            box-shadow: 0 0 1rem gray;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transition: background-color 0.5s ease;
            z-index: -1;
        }
    }

    .validations-container {
        padding: 0 1rem 1rem 1rem;

        .validations {
            
            font-size: smaller;
            margin: 0.5rem 0;
        }

        .validation-resolve {
            color: green;
        }

        .validation-reject {
            color: red;
        }
    }

}