.optiones-updateUser-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    margin-top: 5rem;
}

.optiones-updateUser-container section {
    display: block;
}

.button-option-updateUser {
    padding: 1rem;
    width: 12rem;
    border: solid 2px var(--color-blu, #273558);
    border-radius: 1rem;
    position: relative;
    text-align: right;
    cursor: pointer;
    color: #273558;
}

.plus-circle-icon {
    color: #273558;
    font-size: 2rem;
    position: absolute;
    left: 10%;
    top: 20%;

}

.drop-down-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 12rem;
    border-radius: 1rem;
    gap: 1rem;
    margin-top: 0.5rem;
    align-items: center;
    background-color: var(--bg-column, #f1f2f4);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.input-updateUser {
    width: 90%;
    border: none;
}

.send-button {
    width: 50%;
    background-color: var(--color-blu, rgb(39, 53, 88, 0.7));
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.send-button:hover {
    background-color: rgb(39, 53, 88, 0.5);
}

#updateName-drop-down {
    display: none;
}

#updateEmail-drop-down {
    display: none;
}

#updatePassword-drop-down {
    display: none;
}