.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: var(--bg-navbar, #dce1e0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .first-container {
        display: flex;
        padding: 1rem;

        .menu-dropdown-container {
            background-color: transparent;
            border: none;
            height: 2rem;
            width: 2rem;
            margin: auto 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;

            &:hover {
                background-color: rgb(164, 167, 166, 0.5);
                cursor: pointer;
                transform: none;
            }

            .icon-menu-drop {
                color: var(--color-blue, #273558);
                font-size: 1.5rem;
            }

        }

        .logo-trello-container {
            width: 6rem;
            height: 3rem;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;

            &:hover {
                background-color: rgb(164, 167, 166, 0.5);
            }

            img {
                height: 3rem;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .second-container {
        padding: 0.5rem;
        margin-right: 2rem;
        display: flex;
        gap: 1rem;

        .icon-user-container {
            background-color: transparent;
            border: none;
            height: 2rem;
            width: 2rem;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;

            &:hover {
                background-color: rgb(164, 167, 166, 0.5);
                cursor: pointer;
                transform: none;
            }

            .icon-user {
                color: var(--color-blue, #273558);
            }

        }

        .icon-power-off-container {
            background-color: transparent;
            border: none;
            height: 2rem;
            width: 2rem;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;

            &:hover {
                background-color: rgb(164, 167, 166, 0.5);
                cursor: pointer;
                transform: none;
            }

            .icon-power-off {
                color: var(--color-blue, #273558);
            }
        }
    }

}