.input-Column-title{
    padding: 1rem;
    margin:1rem;
    border: none;
    background-color: var(--bg-column,#f1f2f4);
    width: 80%;
}
.input-Column-title::placeholder{
    font-size: medium;
    color:black
}