.new-column {
    height: 100px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    background-color: rgb(178, 185, 188, 0.5);
    color: black;
    border-radius: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    overflow: hidden;
    margin: 2rem;
    color: var(--color-blue);
    justify-content: center;
    cursor: pointer;
}

.new-column span {
    margin-right: 1rem;
}

.add-column-icon {

    left: 1.5rem;
    font-size: 2rem;
}

.new-column:hover .add-column-icon {
    transform: scale(1.1);
}
.new-column:hover{
    background: rgb(178, 185, 188, 0.8);
}