.slider-container {
    width: 20rem;
    position: fixed;
    height: 100vh;
    background-color: white;
    z-index: 100;
    transition: all 500ms linear;
    left: -20rem;
    display: flex;
    flex-direction: column;
}



.close-aside-icon {
    right: 1rem;
    position: absolute;
    top: 1rem;
    color: var(--color-blue, #273558);
}

.close-aside-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.logo-trello-aside-container {
    height: 7rem;
    margin: 3rem 2rem;

}

.close-aside-icon-container {
    position: relative;
    font-size: 2rem;
    cursor: pointer;

}

.logo-trello-aside-container img {
    height: 7rem;
    width: 100%;
    object-fit: contain;
}

.name-list-boards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-list-boards-container li {
    position: relative;

    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    list-style: none;
    border-bottom: solid 1px #273558;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.check-icon-container {
    border: none;
    background: transparent;
    position: absolute;
    left: 1rem;
    top: 30%;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon-container:hover {
    background-color: rgb(164, 167, 166, 0.5);
}

.check-icon {
    font-size: 1.2rem;
    color: #273558;
}


.input-title-board {
    color: #273558;
    font-size: large;
    border: none;
}


.board-edit-icon-container {
    position: absolute;
    right: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 0.3rem;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-edit-icon-container:hover {
    background-color: rgb(164, 167, 166, 0.5);
}

.board-edit-icon {
    color: #273558;
    font-size: 1.2rem;
}

.board-trash-icon-container {
    background: transparent;
    border: none;
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 0.3rem;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-trash-icon-container:hover {
    background-color: #a4a7a680;
}

.board-trash-icon {
    color: #273558;
    font-size: 1.2rem;
}

.add-another-board {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    list-style: none;
    border-bottom: solid 1px #273558;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: #445b96;
    color: white;
    position: relative;
}

.add-another-board:hover {
    background-color: hwb(223 24% 49%);
    font-weight: bold;
}

.add-another-board:hover .add-another-board-icon {
    transform: scale(1.1);
}

.add-another-board-icon {
    position: absolute;
    left: 0.8rem;
    font-size: 2rem;
    top: 0.6rem;
}

.add-another-board-container {
    display: flex;
    align-items: center;
    justify-content: center;
}