.task-container {
    width: 90%;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    margin-top: 1rem;

    .text-completed {
        text-decoration: line-through;
        background-color: rgb(204, 255, 197);
        border-radius: 1rem;
    }

    .text-task {
        width: 60%;
        max-height: 8rem;
        overflow-y: auto;
        word-wrap: break-word;
        margin: 1rem 0.5rem;
        padding: 0.5rem 0;
    }

    .check-trash-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;

        .button-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.2rem;
            cursor: pointer;
            border: none;

            .icon {
                font-size: 0.8rem;
                margin: 0.2rem;
                color: white;

            }
        }

        .button-right {
            background-color: var(--color-blue);
            margin: 0.5rem 0.5rem 0.5rem 0;
        }

        .button-trash {
            background-color: rgb(255, 75, 75);
        }

        .button-check {
            background-color: rgb(102, 219, 86);
        }

    }

    .button-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
        cursor: pointer;
        border: none;

        &:hover .icon {
            transform: scale(1.3);
        }

        &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }

        &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }

        .icon {
            font-size: 0.8rem;
            margin: 0.2rem;
            color: white;

        }
    }

    .button-left {
        background-color: var(--color-blue);
        margin: 0.5rem 0 0.5rem 0.5rem;
    }
}