a{
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.form-content .box{    
    border: 2px solid orange;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-main{
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-content {
width: 100%;
max-width: 450px;
position: relative;
z-index: 1;

}
.form-content h3{
    font-size: 28px;
    text-align: center;
    line-height: 2;
    font-weight: bold;
    color: gray;
    
}


.form-content p{
    text-align: center;
    display: inline-block;
    margin-right: 1rem;
}

