.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .section-title {
        margin: 3rem 0 2rem 0;
        width: 300px;
        text-align: left;

    }

    .setting-container {
        box-shadow: 0px 1px 1px #091E4240, 0px 0px 1px #091E424F;
        background-color: #f1f2f4;
        width: 350px;
        min-height: 300px;
        border-radius: 1rem;
        padding: 1rem;

        .container-category {
            margin: 1rem 1rem;

            .category {
                font-size: small;
                color: gray;
                padding: 0.5rem;
            }

            .value {
                padding: 1rem;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: 500ms ease-in-out;
                transition-property: background-color, display;
                color: rgb(80, 80, 80);

                &:hover {
                    background-color: #d0d4db;

                }

                .input-enabled {
                    background-color: white;
                }

                .input-disabled {
                    background-color: transparent;
                }



                .input {

                    border: none;
                    border-bottom: 1px solid;
                    padding: 0.5rem 0.2rem 0.2rem 0.2rem;

                    &::placeholder {
                        font-size: medium;
                    }
                }

                .icon-button {

                    background-color: transparent;
                    border: none;
                    border-radius: 0.4rem;
                    padding: 0.3rem;
                    transition: 500ms ease-in-out;
                    transition-property: background-color;

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(168, 168, 168);
                    }

                    .icon {
                        font-size: 1.3rem;
                        color: rgb(80, 80, 80);

                    }
                }

            }

            .buttons-container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 0;

                .icon-button {

                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    transition: 500ms ease-in-out;
                    transition-property: background-color;


                    &:hover {

                        cursor: pointer;
                    }

                    .icon {
                        font-size: 1.5rem;
                        color: white
                    }
                }

                .check-button {
                    background-color: rgb(78, 190, 78);

                    &:hover {
                        background-color: rgb(30, 124, 30);
                    }
                }

                .cancel-button {
                    background-color: rgb(190, 87, 87);

                    &:hover {
                        background-color: rgb(184, 21, 21);
                    }
                }
            }

            .container-inputs-password {
                .input-enabled {
                    background-color: white;
                }

                .input-disabled {
                    background-color: transparent;
                }



                .input {

                    border: none;
                    border-bottom: 1px solid;
                    padding: 0.5rem 0.2rem 0.2rem 0.2rem;
                    margin-left: 1rem;
                    margin-bottom: 0.5rem;

                    &::placeholder {
                        font-size: medium;
                    }
                }
            }
        }
    }
}