main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #f7f6f5;
    color:black;
    overflow: hidden;
  }
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header button{
    margin-left:3rem;
    height: 4rem;
    
    font-size: 1.5rem;
    border-radius: 1rem;
}
h1{
    font-weight: bold;
    border: 3px solid orange;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgb(250, 236, 207);
    margin:1rem;
}
h1:hover{
    
    color: black;
    background-color: rgb(208, 208, 213, 0.2);
}
section{
    display: flex;    
    justify-content: space-around;
    overflow: auto;
}
.column{
    min-height: 500px;
    box-sizing: border-box;
    border: 2px solid orange;
    min-width: 250px;
    text-align: center;
    background-color: rgb(208, 208, 213, 0.2);
    color: black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 2rem;
}

@media screen and (max-width:1200px){
    section{
        justify-content: start;
    }
    header button{
        font-size: 1rem;
    }
}