form{
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
}
input{
    width: 70%;
    height: 2rem;
    border-radius: 4px 0 0 4px;
    border: 2px solid #00471b;
    outline: none;
    background-color: white;
}
button{
    width: 20%;
    height: 100%;
    padding:0;    
    font-family: Roboto,sans-serif;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background-color: #00471b;
    color: #fff;
}
button:hover{
    color:#00471b;
    background-color: white;
    border:1px solid #00471b;
}