.tasks-container {
    width: 90%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 128, 128,0.5);
    color: black;
    border-radius: 7px;
    border: 1px solid orange;
    margin-top: 1rem;
}

.text-task-container {
    
    font-weight: bold;
    width: 60%;
}

.completed {
    background-color: rgb(250, 236, 207);
    text-decoration: line-through;
    border-radius: 1rem;
}

.task-icon-container {
    width: 10%;
    cursor: pointer;
}

.done-task-icon:hover {
    color: green;
}

.delete-task-icon:hover {
    color: red;
}
.row{
    width: 10%;
    cursor: pointer;
}
.row:hover{
    color:#0400ff;
}