.password-container {
    display: flex;
    align-items: center;
    position: relative;

    .eye-button {
        position: absolute;
        right: 1%;
        top: 20%;
        font-size: 1.2rem;
        background: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            color: gray;
        }
    }
}