.form-board-title {
    min-width: 1rem;
    display: flex;
    

    .input-title-board {
        border: none;
        border-bottom: solid 1px var(--color-blue, #273558);
        max-width: 60%;
        font-size: large;

    }

    .button-icons {
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;

        &:hover {
            background-color: rgb(167, 165, 165);
        }

        .icons-boards-title {
            color: #273558;
            font-size: 1.5rem;
        }
    }
}



.link-board-title {
    text-decoration: none;
    padding: 0.5rem;
    color: #273558;
}

.button-icons {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 0.2rem;

    &:hover {
        background-color: rgb(167, 165, 165);
    }

    .icons-boards-title {
        color: #273558;
        font-size: 1.5rem;
    }
}