.form-board-title {
    width: 80%;
    display: flex;


    .input-title-board {
        border: none;
        border-bottom: solid 1px var(--color-blue, #273558);
        max-width: 60%;
        font-size: large;

    }

    .buton-icon-disabled {
        background-color: rgb(216, 214, 214);

        .icon-disabled {
            color: rgb(170, 170, 170)
        }
    }

    .buton-icon-not-disabled {
        background-color: transparent;

        &:hover {
            background-color: rgb(167, 165, 165);
        }

        .icon-not-disabled {
            color: #273558;
        }

    }

    .button-icons {
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;       
        border: none;


        .icons-boards-title {
            font-size: 1.5rem;
        }
    }
}


.disabled-link {
    pointer-events: none;
    color: rgb(170, 170, 170);
}

.not-disabled-link {
    color: #273558;
}

.link-board-title {
    text-decoration: none;
    padding: 0.5rem;
    overflow: auto;
}

.buton-icon-disabled {
    background-color: rgb(216, 214, 214);

    .icon-disabled {
        color: rgb(170, 170, 170)
    }
}

.buton-icon-not-disabled {
    background-color: transparent;

    &:hover {
        background-color: rgb(167, 165, 165);
    }

    .icon-not-disabled {
        color: #273558;
    }
}

.button-icons {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.2rem;


    .icons-boards-title {

        font-size: 1.5rem;
    }
}