@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

:root {
  --bg-navbar: #dce1e0;
  --color-blue: #273558;
  --bg-board: #dee1e1;
  --bg-column: #f1f2f4;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  background-image: "images/background.jpg";
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}