.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background-color: var(--bg-navbar, #dce1e0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    p {
        a {
            color: black;

            &:hover {
                color: blue;
            }
        }
    }
}