.form-content form{
    margin:25px 0 20px;
}
.form-content .input-box{
    margin:0.5rem 0;
}
.input-box.password-container{
    display: flex;
    align-items: center;
    position:relative;
}
.form-content::placeholder{
    color:black;
    opacity: 1;
}
.eye-icon{
    position: absolute;
    right: 1%;
    top:20%;
    font-size: 1.2rem;
}
.eye-icon:hover{
    color:gray;
}
.form-content .input-control{
    margin-bottom: 1rem;
    display: block;
    height: 2rem;
    width: 100%;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid rgb(172, 164, 164);
    color:inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
}
.form-content .input-control:focus{
    outline: none;
}
.form-content .input-link{
    margin: 1rem 0;
    text-align: right;
    font-size: small;
}

.form-content .btn{
    height: 45px;
    width: 100%;
    font-size: 16px;    
    text-transform: capitalize;
    font-family: inherit;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right,#273558,gray);
    cursor: pointer;
    border:none;
    color:white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: bold;
}
.form-content .btn:hover{
    box-shadow: 0 0 1rem  gray;
}
.form-content .btn::before{
    content: '';
    position:absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease;
    z-index:-1;
}
