.hidden-slider-container {
    left: -40rem;
}

.visual-slider-container {
    left: 0;
}

.slider-container {
    width: 20rem;
    position: absolute;
    height: 100vh;
    background-color: white;
    z-index: 100;
    transition: all 500ms linear;
   
    display: flex;
    flex-direction: column;

    .close-aside-icon-container {
        position: relative;
        font-size: 2rem;

        .close-aside-icon {
            right: 1rem;
            position: absolute;
            top: 1rem;
            color: var(--color-blue, #273558);

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }

    }

    .logo-trello-aside-container {
        height: 7rem;
        margin: 3rem 2rem;

        img {
            height: 7rem;
            width: 100%;
            object-fit: contain;
        }
    }

    .name-list-boards-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            text-align: center;
            padding: 1rem;
            margin-bottom: 1rem;
            width: 80%;
            list-style: none;
            border-bottom: solid 1px #273558;
            cursor: pointer;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

            &:hover {
                background-color: aliceblue;
            }
        }
    }

    .add-another-board-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .add-another-board {
            text-align: center;
            padding: 1rem;
            margin-bottom: 1rem;
            width: 80%;
            list-style: none;
            border-bottom: solid 1px #273558;
            cursor: pointer;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            background-color: #445b96;
            color: white;
            position: relative;

            &:hover .add-another-board-icon {
                transform: scale(1.1);
            }

            .add-another-board-icon {
                position: absolute;
                left: 0.8rem;
                font-size: 2rem;
                top: 0.6rem;
            }
        }
    }

}